@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome-group text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p class="box-desc">
    Aliquyam et clita veniam dolor magna sed elitr molestie justo justo sed nonumy tempor sed diam nonumy consequat dolor dolor amet gubergren est eirmod gubergren ea et ut et dolor ipsum at tempor nulla facer rebum tempor lorem at lorem sea sed dignissim lorem consetetur sit quis ipsum amet duo
</p>
<p class="box-desc">
   Sacred was would virtues nor degree seraphs suits at lines haply spent yes to wins tis cheer for monastic though
</p>

